<?xml version="1.0" encoding="utf-8"?>
<ProjectRestrictions>
  <ItemSystem enabled="true">
    <Item maxCount="500">
    </Item>
    <Group>
      <Parameters>
        <Parameter identifier="UpdateRate" enabled="true" type="numeric" minValue="500" fixedValue="500" />
      </Parameters>
    </Group>
  </ItemSystem>
  <TextSystem enabled="true">
  </TextSystem>
  <AlarmSystem enabled="true">
    <Configuration>
      <Parameters>
        <Parameter identifier="CircularBufferSize" enabled="true" type="numeric" maxValue="2000" minValue="100" fixedValue="1000" />
        <Parameter identifier="ArchivMode" enabled="false" type="enum" fixedValue="@ConfigurationNode.Parameter.ArchiveMode.EnumValue.1">
          <HiddenEnumerationValues>
            <HiddenEnumerationValue text="Archivierung in Protokollsystem" value="@ConfigurationNode.Parameter.ArchiveMode.EnumValue.2" />
          </HiddenEnumerationValues>
        </Parameter>
        <Parameter identifier="FileFormat" enabled="false" type="enum" maxCount="2000" fixedValue="@ConfigurationNode.Parameter.Format.EnumValue.1">
        </Parameter>
        <Parameter identifier="FlushTime" enabled="false" type="numeric" fixedValue="5" />
        <Parameter identifier="FlushMaxAlarms" enabled="false" type="numeric" fixedValue="100" />
      </Parameters>
    </Configuration>
    <Alarm>
    </Alarm>
  </AlarmSystem>
  <TrendSystem enabled="true">
    <Configuration>
      <Parameters>
      </Parameters>
    </Configuration>
    <Archive>
      <Parameters>
        <!--
        <Parameter identifier="ArchivMode" enabled="true" type="enum" fixedValue="@Archive.Parameter.Type.ArchiveTypes.EnumValue.0">
          <HiddenEnumerationValues>
            <HiddenEnumerationValue text="Folgearchive (auf Festplatte)" value="@Archive.Parameter.Type.ArchiveTypes.EnumValue.2" />
          </HiddenEnumerationValues>
        </Parameter>
        <Parameter identifier="CopyPath" enabled="false" type="text" fixedValue="" />
        <Parameter identifier="FilePath" enabled="false" type="text" fixedValue="" />
        <Parameter identifier="FileName" enabled="false" type="text" fixedValue="" />
        <Parameter identifier="SampleMode" enabled="true" type="enum" fixedValue="@Archive.Parameter.Type.SampleModes.EnumValue.1"/>
        <Parameter identifier="MaxSizeKB" enabled="true" type="numeric" maxValue="10000" minValue="100" fixedValue="100" Comment="Maximale Dateiengesammtgröße" />
        -->
        <Parameter identifier="ScanTime" enabled="true" type="numeric" minValue="500" fixedValue="1000" Comment="Abtastzeit" />
        <Parameter identifier="MaxSamples" enabled="true" type="numeric" maxValue="5000" fixedValue="1000" Comment="Archivegröße oder Ringpuffergröße" />
        <Parameter identifier="MaxFilesCount" enabled="true" type="numeric" minValue="1" maxValue="25" fixedValue="10" Comment="Maximale Anzahl Dateien" />
        <Parameter identifier="CacheSize" enabled="false" type="numeric" maxValue="100" minValue="50" fixedValue="50" Comment="Cachegröße" />
      </Parameters>
    </Archive>
    <Trend maxCount="20">
    </Trend>
  </TrendSystem>
  <RecipeSystem enabled="true">
    <Recipe maxCount="3">
      <Parameters>
        <Parameter identifier="MaxFilesCount" enabled="true" type="numeric" minValue="1" maxValue="250" fixedValue="250" />
      </Parameters>
    </Recipe>
    <Item maxCount="500" />
  </RecipeSystem>
  <UserSystem enabled="true">
  </UserSystem>
  <LogSystem enabled="false">
  </LogSystem>
  <ProjectSystem enabled="true">
    <PowerFailure>
      <Parameters>
        <Parameter identifier="SaveAlarmCache" enabled="false" type="bool" fixedValue="true" />
        <Parameter identifier="SaveArchiveCache" enabled="false" type="bool" fixedValue="false" />
        <Parameter identifier="SaveLoggingCache" enabled="false" type="bool" fixedValue="false" />
        <Parameter identifier="CreateSystemLog" enabled="false" type="bool" fixedValue="false" />
        <Parameter identifier="CreateWriteMutex" enabled="false" type="bool" fixedValue="true" />
        <Parameter identifier="RuntimeBehavior" enabled="false" type="enum" fixedValue="@PowerFailureConfigurationNode.Parameter.RuntimeBehavior.EnumValue.1">
        </Parameter>
        <Parameter identifier="MessageName" enabled="false" type="text" fixedValue="SystemPowerFailure" />
        <Parameter identifier="MessageType" enabled="false" type="enum" fixedValue="@PowerFailureConfigurationNode.Parameter.MessageType.EnumValue.1">
        </Parameter>
      </Parameters>
    </PowerFailure>
  </ProjectSystem>
</ProjectRestrictions>