<?xml version="1.0" encoding="utf-8"?>
<!--VisiWinNET Device Settings file-->
<DeviceSettings>
  <Device name="p300 PLC - 10&quot;" vendor="Lenze Automation GmbH" deploymentDirectory="\SDCard\VisiWinNET" largeimage="p300_10_4Zoll.JPG">
    <ProjectStartInfo />
    <Platform type="WinCEArm" version="5.0" dotnetframework="2.0" />
    <Display type="Color" width="800" height="600" colordepth="16" resolutionx="96" resolutiony="96" />
    <Restrictions enabled="true" configFile="p300_PLC_Restrictions.config" />
    <Communication devicecommunicators="TCP/IP">
      <CommunicationDrivers>
        <CommunicationDriver name="Logic And Motion V3" channelType="VisiWinNETDriver" descriptionFile="VisiWinNET\LogicAndMotionV3\2.0\VisiWinNET.LogicAndMotionV3.CE.Dev.dll" />
        <CommunicationDriver name="DataManager OPC-Server" channelType="OPC" descriptionFile="OPC\DataManagerOPCServer\VisiWinNET.OPC.DataManagerOPCServer.Dev.dll" />
      </CommunicationDrivers>
    </Communication>
  </Device>
</DeviceSettings>