<?xml version="1.0" encoding="utf-8"?>
<!--VisiWinNET Runtime Gui Configuration-->
<GuiConfiguration>
  <References>
    <Reference assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <Reference assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=969db8053d3322ac" />
    <Reference assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=969db8053d3322ac" />
    <Reference assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=969db8053d3322ac" />
    <Reference assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <Reference assembly="VisiWinNET.CF, Version=6.5.0.0, Culture=neutral, PublicKeyToken=3d70d0e64510241c" />
    <Reference assembly="VisiWinNET.Compact.Systems, Version=6.5.0.0, Culture=neutral, PublicKeyToken=3d70d0e64510241c" />
    <Reference assembly="VisiWinNET.Compact.Forms, Version=6.5.0.0, Culture=neutral, PublicKeyToken=3d70d0e64510241c" />
  </References>
  <SmartForms>
    <SmartForm name="FStart" file="FStart.sfc" loadOnStartup="False" executeCode="False" />
    <SmartForm name="FCentral" file="FCentral.sfc" loadOnStartup="False" executeCode="True" />
    <SmartForm name="FLogOn" file="FLogOn.sfc" loadOnStartup="False" executeCode="True" />
    <SmartForm name="FMessageBox" file="FMessageBox.sfc" loadOnStartup="False" executeCode="True" />
    <SmartForm name="FRecipes" file="FRecipes.sfc" loadOnStartup="False" executeCode="True" />
    <SmartForm name="FSystem" file="FSystem.sfc" loadOnStartup="False" executeCode="True" />
    <SmartForm name="FLogOnChangePassword" file="FLogOnChangePassword.sfc" loadOnStartup="False" executeCode="True" />
    <SmartForm name="FUsers" file="FUsers.sfc" loadOnStartup="False" executeCode="True" />
    <SmartForm name="FUserChange" file="FUserChange.sfc" loadOnStartup="False" executeCode="True" />
    <SmartForm name="FRecipeFile" file="FRecipeFile.sfc" loadOnStartup="False" executeCode="True" />
    <SmartForm name="FSelectBox" file="FSelectBox.sfc" loadOnStartup="False" executeCode="True" />
    <SmartForm name="FProcess" file="FProcess.sfc" loadOnStartup="False" executeCode="True" />
    <SmartForm name="FAlarms" file="FAlarms.sfc" loadOnStartup="False" executeCode="True" />
    <SmartForm name="FSynoptic" file="FSynoptic.sfc" loadOnStartup="False" executeCode="True" />
    <SmartForm name="FGraphic" file="FGraphic.sfc" loadOnStartup="False" executeCode="True" />
    <SmartForm name="FHistoric" file="FHistoric.sfc" loadOnStartup="False" executeCode="True" />
    <SmartForm name="FConfigurations" file="FConfigurations.sfc" loadOnStartup="False" executeCode="True" />
    <SmartForm name="FAlarmHistory" file="FAlarmHistory.sfc" loadOnStartup="False" executeCode="True" />
    <SmartForm name="FAlarmHistoryFilter" file="FAlarmHistoryFilter.sfc" loadOnStartup="False" executeCode="True" />
    <SmartForm name="FAlphaPad" file="FAlphaPad.sfc" loadOnStartup="False" executeCode="True" />
    <SmartForm name="FNumPad" file="FNumPad.sfc" loadOnStartup="False" executeCode="True" />
    <SmartForm name="FConfigManual" file="FConfigManual.sfc" loadOnStartup="False" executeCode="True" />
    <SmartForm name="FConfigControl" file="FConfigControl.sfc" loadOnStartup="False" executeCode="True" />
    <SmartForm name="FConfigSystem" file="FConfigSystem.sfc" loadOnStartup="False" executeCode="True" />
    <SmartForm name="FConfigParameters" file="FConfigParameters.sfc" loadOnStartup="False" executeCode="True" />
    <SmartForm name="FConfigTimers" file="FConfigTimers.sfc" loadOnStartup="False" executeCode="True" />
    <SmartForm name="FGraphicSelect" file="FGraphicSelect.sfc" loadOnStartup="False" executeCode="True" />
    <SmartForm name="FColorSelect" file="FColorSelect.sfc" loadOnStartup="False" executeCode="True" />
  </SmartForms>
</GuiConfiguration>